#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.p-headind{
	font-size: 2rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 700;
	padding:8px 12px;
	margin-bottom: 10px;
	background: transparent;
	letter-spacing: 1px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
	
}
.p-box{

	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;

}
.p-box img{

width: 100%;
	height: 100%;
	object-fit: cover;
}
.p-container{
	width: 90%;
	height:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.overlay-text{
	font-family: calibri;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
	display:none;
	
}
.overlay-text h1,p{
	color: #221919;
}
.overlay-text h1{
	font-size: 1.6rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
	color: #1F1F1F;


}
.p-box:hover .overlay-text{
	display: flex;
	color: #1F1F1F;
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
	
}


@media(max-width:970px){
	
	
	.p-container{
		width:100%;
	
	}
	.p-box{
		height: 266px;
	}
	
}


@media(max-width:600px){
	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;}
    

}
