/* contact Section */
#contact2 .contact2 {
	flex-direction: column;
	max-width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#contact2 .contact2-items {
	width: 400px;
}
.contact2-item{
	background-color: azure;
}
#contact2 .contact2-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin:30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact2 .contact2-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact2 .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact2 .contact2-info h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact2 .contact2-info h2 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
}
.container2 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section-title2 {
	font-size: 2.2rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title2 span {
	color: crimson;
}
/*End contact Section */
@media only screen and (min-width: 768px) {

    /* contact  */
	#contact2 .contact2 {
		flex-direction: column;
		padding: 25px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact2 .contact2-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact2 .contact2-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact2 .contact2-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact2 .contact2-item .icon img {
		object-fit: contain;
	}
	#contact2 .contact2-item .contact2-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
}
@media only screen and (max-width: 500px) { 
	#contact2 .contact2-item {
		width: 80%;
		padding: 20px;
		text-align: center;
		border-radius: 10px;
		padding:5px 30px;
		margin:0 auto!important;
		max-height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-shadow: 0px 0px 18px 0 #0000002c;
		transition: .3s ease box-shadow;
	}
}